*.env
*.log
.pem
.env
**/.env
backend/she-api/.env
backend/she-api/storage/logs/*.log
backend/she-api/storage/framework/sessions/*
backend/she-api/storage/framework/views/*
backend/she-api/public/images/*
/flutter/
